[auth.keystone]
enabled = true
auth_url = {{ grafana_keystone_url }}

[database]
type = {{ grafana_db_type }}

{% if grafana_db_type == 'mysql' %}
host = {{ grafana_mysql_host }}:{{ grafana_mysql_port }}
name = {{ grafana_mysql_db }}
user = {{ grafana_mysql_user }}
password = {{ grafana_mysql_password }}
ssl_mode = false
{% elif grafana_db_type == 'sqlite3' %}
path = {{ grafana_sqlite3_path }}
{% endif %}

[security]
admin_user = admin
admin_password = {{ grafana_admin_password }}

[paths]
logs = {{ grafana_log_dir }}
data = {{ grafana_data_dir }}
plugins = {{ grafana_plugins_dir }}

[server]
http_addr = {{ grafana_http_addr }}
http_port = {{ grafana_http_port }}
protocol = {{ grafana_http_protocol }}

[log]
mode = {{ grafana_log_mode }}
level = {{ grafana_log_level }}
